swagger: "2.0"
host: ec2-18-223-151-191.us-east-2.compute.amazonaws.com:8080
basePath: /billing
info:
  description: "Healtcare system Billing APIs."
  version: "1.0.0"
  title: "Health care system - billing"
  contact:
    email: "cs62@njit.edu"
tags:
- name: "codes"
  description: "Everything about procedures and rates"
- name: "claims"
  description: "Billing claims"
schemes:
- "https"
- "http"
paths:
  /icd10codes:
    get:
      tags:
      - "codes"
      summary: "List the range of ICD-10 codes to search from"
      description: "Returns the range search list of ICD-10 codes"
      operationId: "getICD10Codes"
      responses:
        "405":
          description: "Invalid input"
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ICD10"
  /icd10codes/{code}:
    get:
      tags:
      - "codes"
      summary: "Returns the list of ICD-10 codes filtered by the {code}."
      description: "List the range of ICD-10 codes based on the code provided in the path. The code could be a range string provided as a code."
      operationId: "getICD10CodesBySearch"
      parameters:
      - name: "code"
        in: "path"
        description: "Search string. This could be code range/group or the code. This has to be same as a code provided in above API or this API"
        required: true
        type: "string"
      responses:
        "405":
          description: "Invalid input"
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ICD10"
  /cptCodes:
    get:
      tags:
      - "codes"
      summary: "List all the CPT codes with the grouping"
      description: "Returns list of CPT codes with grouping"
      operationId: "getCPTCodes"
      responses:
        "405":
          description: "Invalid input"
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CPTGroup"
  /cptCodes/{groupId}:
    get:
      tags:
      - "codes"
      summary: "List all the CPT codes for the given group id."
      description: "Returns all the CPT codes for the given group id."
      operationId: "getCPTCodesBySearch"
      parameters:
      - name: "groupId"
        in: "path"
        description: "Group id for the code"
        required: true
        type: "string"
      responses:
        "405":
          description: "Invalid input"
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CPT"
  /procedures/{procedureId}/rates:
    get:
      tags:
      - "procedures"
      summary: "Rate of a procedure"
      description: "Returns the rate of a procedure with id {procedureId}."
      operationId: "procedureRate"
      parameters:
      - name: "procedureId"
        in: "path"
        description: "Procedure Id"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ProcedureRate"
        "400":
          description: "Invalid status value"
  /claims:
    get:
      tags:
      - "claims"
      summary: "Returns list of all claims"
      description: "Returns list of all claims"
      operationId: "getClaims"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Claim"
        "400":
          description: "Invalid tag value"
  /claims/{claimId}:
    get:
      tags:
      - "claims"
      summary: "Find claim by ID"
      description: "Returns a single claim"
      operationId: "getClaimById"
      parameters:
      - name: "claimId"
        in: "path"
        description: "ID of claim that needs to be updated"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Claim"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Pet not found"
    post:
      tags:
      - "claims"
      summary: "Creates a claim"
      description: ""
      operationId: "createClaim"
      parameters:
      - name: "claimId"
        in: "path"
        description: "ID of claim that needs to be updated"
        required: true
        type: "string"
      responses:
        "405":
          description: "Invalid input"
    put:
      tags:
      - "claims"
      summary: "Updates a claim"
      description: ""
      operationId: "updateClaim"
      parameters:
      - name: "claimId"
        in: "path"
        description: "ID of pet that needs to be updated"
        required: true
        type: "string"
      responses:
        "405":
          description: "Invalid input"
    delete:
      tags:
      - "claims"
      summary: "Deletes a claim"
      description: ""
      operationId: "deletePet"
      parameters:
      - name: "claimId"
        in: "path"
        description: "ID of pet that needs to be updated"
        required: true
        type: "string"
      responses:
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Pet not found"
      security:
      - petstore_auth:
        - "write:pets"
        - "read:pets"
securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
definitions:
  ICD10:
    type: "object"
    properties:
      id:
        type: "string"
        description: "object id"
      code:
        type: "string"
        description: "This could represent the ICD-10 code or a search string/grouping"
      description:
        type: "string"
        description: "Information about the code."
      parentId:
        type: "string"
        description: "This could be empty or the parent id of the object which could be an actual code of a search string/grouping"
  CPT:
    type: object
    properties:
      id:
        type: "string"
        description: "object id"
      code:
        type: "string"
        description: "CPT code"
      description:
        type: "string"
        description: "information about the code"
  CPTGroup:
    type: object
    properties:
      id:
        type: "string"
        description: "object id"
      type:
        type: "string"
        description: "Type of grouping"
      description:
        type: "string"
        description: "information about the grouping"
      additionalInfo:
        type: "string"
        description: "Any additional info about the grouping"
  ProcedureRate:
    type: object
    properties:
      id:
        type: "string"
        description: "rate id"
      procedureId:
        type: string
        description: "Id of the procedure"
      rate:
        type: integer
  Diagnosis:
    type: "object"
    properties:
      id:
        type: "string"
        description: "diagnosis id"
      code:
        type: "string"
        description: "codes for the diagnosis"
      description:
        type: "string"
        description: "description for the diagnosis"
  Procedure:
    type: "object"
    properties:
      id:
        type: "string"
        description: "procedure id"
      codingType:
        type: "string"
        enum:
        - "CPT"
        - "HCPCS"
      diagnosisCode:
        $ref: "#/definitions/Diagnosis"
      code:
        type: "string"
        description: "codes for the procedure"
      description:
        type: "string"
        description: "description for the procedure"
  Claim:
    type: "object"
    required:
    - "name"
    - "photoUrls"
    properties:
      id:
        type: "string"
        description: "claim id"
      patientId:
        type: "string"
        description: "patient id"
      insuranceId:
        type: "string"
        description: "insurance detail id"
      procedures:
        type: "array"
        description: "list of procedures taken"
        items:
          $ref: "#/definitions/Procedure"
      dateCreated:
        type: "string"
        description: "ISO format date created"
      dateUpdated:
        type: "string"
        description: "ISO format date updated"
      status:
        type: "string"
        description: "status of the claim"
        enum:
        - "initiated"
        - "accepted"
        - "rejected"
        - "denied"
        - "sent_for_adjudication"
        - "deleted"
